body {
  text-align: center;
  font-family: 'Trebuchet MS';
  font-size: 3em;
}

.button {
  font-size: .25em;
  border-radius: 50px;
  background-color: #4e42f4;
}

textarea {
  height: 250px;
}

label {
  color: #4e42f4;
  font-size: .75em;
  font-weight: bold;
}

h1, h2 {
  color: #4e42f4;
  font-size: 3em;
  font-weight: bold;
  font-family: Courier;
  padding-top: 50px;
}

p {
  color: #00e2db;
}

.error {
  color: #ff428d;
}
