
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Bears</a></li>
    <li><a href="#">Beats</a></li>
    <li><a href="#">Battlestar Galactica</a></li>
    <li>
      <span class="disabled">DJ CHKN FKR</span>
    </li>
  </ul>
</nav>

<div class="text-center">
  <h1 id="blink">INTRODUCING DJ CHKN FKR</h1>
  <h3>What kind of beat should he drop?</h3>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>Trap?</h3>
    <p>
      Boom Boom Clap Pow Bam Clap Boom Bing Bong Boom Clap Chicka Chicka Bam.
    </p>
    <div class="text-center">
      <a href="#" class="button">drop that beat</a>
    </div>
  </div>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>Reggaeton?</h3>
    <p>
      Boom Chick Boom Chick Bam Chacka Blam Whack.
    </p>
    <div class="text-center">
      <a href="#" class="button">drop that beat</a>
    </div>
  </div>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>Hip-hop?</h3>
    <p>
      Bam Blam Chickee Chickee Chocka Chang Whacka Flacka Doo Ding Yeah.
    </p>
    <div class="text-center">
      <a href="#" class="button">drop that beat</a>
    </div>
  </div>
</div>
