<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bleep Bloop</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="stylesheets/styling.css">
  </head>


  <body>
<div>
      <div class="top-bar">

        <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text" id="menu-text">Dope Daddy</li>
            <li><a href="#">About</a></li>
          </ul>
        </div>

      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">Sign In</a></li>
          <li><a href="#">Sign In</a></li>
        </ul>
      </div>


    </div>

    <div class="row column">
      <%= yield %>
    </div>

    <div class="text-center">
      <ul class="vertical menu">
        <li><a href="#">Eat</a></li>
        <li><a href="#">Sleep</a></li>
        <li><a href="#">Rap</a></li>
      </ul>
    </div>

    <div class="text-center">
      <form>
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="medium-16 cell">
            <label>How much money do you want to give him?
              <input type="text" placeholder="$1 million or $1 billion?">
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>


  </body>
</html>
